import { IsNotEmpty, IsOptional, IsString } from 'class-validator';

export class Create__SINGULAR_PASCAL__Dto {
  // TODO: Sesuaikan field dengan model Prisma __SINGULAR_PASCAL__.


  // Placeholder opsional agar DTO valid TypeScript sebelum disesuaikan.
  @IsOptional()
  @IsString()
  description?: string;
}
